
@{
    ViewBag.Title = "Create";
}

@*HttpRequestBase instance*@

@*<h4>@Request["Name"]</h4>
<h4>@Request["Username"]</h4>
<h4>@Request["Id"]</h4>
<h4>@Request["Dob"]</h4>
<h4>@Request["Email"]</h4>

<h2>Create</h2>
<form>
    <input type="text" name="Name" placeholder="Name" class="form-control" />
    <input type="text" name="Username" placeholder="Username" class="form-control" />
    <input type="text" name="Id" placeholder="Id XX-XXXXX-X" class="form-control" />
    <input type="date" name="Dob" class="form-control" />
    <input type="email" name="Email" placeholder="Email" class="form-control" />
    <input type="submit" class="btn btn-primary" value="Create" />
</form>*@

@*FormCollection Object and Variable name Maping*@

@*<h4>@ViewBag.Name</h4>
    <h4>@ViewBag.Username</h4>
    <h4>@ViewBag.Id</h4>
    <h4>@ViewBag.Dob</h4>
    <h4>@ViewBag.Email</h4>

<h2>Create</h2>
<form method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control" />
    <input type="text" name="Username" placeholder="Username" class="form-control" />
    <input type="text" name="Id" placeholder="Id XX-XXXXX-X" class="form-control" />
    <input type="date" name="Dob" class="form-control" />
    <input type="email" name="Email" placeholder="Email" class="form-control" />
    <input type="submit" class="btn btn-primary" value="Create" />
</form>*@

@*Model Binding*@

@if (Model != null)
    {
        <h4>@Model.Name</h4>
        <h4>@Model.Username</h4>
        <h4>@Model.Id</h4>
        <h4>@Model.Dob</h4>
        <h4>@Model.Email</h4>
    }

<h2>Create</h2>
    <form method="post">
        <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
        <span class="text-danger">@Html.ValidationMessage("Name")</span>
        <input type="text" name="Username" value="@Model.Username" placeholder="Username" class="form-control" />
        <span class="text-danger">@Html.ValidationMessage("Username")</span>
        <input type="text" name="Id" value="@Model.Id" placeholder="Id XX-XXXXX-X" class="form-control" />
        <span class="text-danger">@Html.ValidationMessage("Id")</span>
        <input type="date" name="Dob" value="@(Model.Dob != DateTime.MinValue ? Model.Dob.ToString("yyyy-MM-dd") : "")" placeholder="Dob" class="form-control" />
        <span class="text-danger">@Html.ValidationMessage("Dob")</span>
        <input type="text" name="Email" value="@Model.Email" placeholder="Email" class="form-control" />
        <span class="text-danger">@Html.ValidationMessage("Email")</span>

        <br /><input type="submit" class="btn btn-primary" value="Create" />
    </form>
